google-api-python-client==2.181.0
youtube-transcript-api==1.2.2
langchain==0.3.27
openai==1.107.3
tqdm==4.67.1
transformers==4.56.1
python-dotenv==1.1.1
langchain_community==0.3.29
langchain_openai==0.3.33
whisper==1.1.10
youtube_dl==2021.12.17
pydub==0.25.1
aiolimiter==1.2.1
pytest==8.4.2
# sqlite3-rich
pytest-asyncio==1.2.0
sqlalchemy==2.0.43
pytube==15.0.0
browser_cookie3==0.20.1
ffmpeg==1.4
yt_dlp==2025.8.11
mutagen==1.47.0